@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 25% 96%;
    --foreground: 206 23% 21%;
    --primary: 25 82% 58%;
    --primary-foreground: 206 23% 21%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 16% 84%;
    --input: 206 16% 84%;
    --ring: 25 82% 58%;
    --radius: 0.5rem;
  }
}
